* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
main {
  margin-top: 100px;
}

.title__contact {
  margin-top: 10px;

}

.nav {
  background-color: rgb(241, 253, 243);
  /* el display va en el padre  */
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-img {
  height: 100px;
  width: 22%;
  padding: 10px;
}
.nav-link {
  width: 18%;
  text-decoration: none;
  padding: 30px;
  color: orangered;
  font-size: 20px;
}

.nav-link:hover {
  background-color: white;
  color: orangered;
  border-radius: 10px;
}

.sec1 {
  height: 50vh;
  background-color: rgb(229, 244, 231);
  margin-top: 100px
}

.sec2 {
  height: 50vh;
  background-color: rgb(209, 233, 210);
}

.sec3 {
  height: 50vh;
  background-color: rgb(153, 205, 169);
}

.productos {
  height: 100vh;
  background-color: rgb(229, 244, 231);
  margin-top: 100px
  
}
/* Desde aca Contacto*/



.contact {
  padding-top: .1;
  font-size: 30px;
  background-color: rgb(209, 233, 210);
  text-align: center;
  border: 0.1px solid rgb(209, 233, 210);
  width: 100%;
  
}

.form {
  /* text-align: center; */
  margin: 30%;
  margin-top: 2%;
  margin-bottom: 2%;

}

#name,
#lastn,
#email,
#location,
#text,
#Provincia,
#pais {
  padding-top: 20%;
  border-color: rgb(20, 72, 42);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 600px;
  background-color: rgb(245, 246, 246);
  box-shadow: 3px 3px 2px;
}

textarea {
  border-color: rgb(20, 72, 42);
  background-color: rgb(245, 246, 246);
  resize: none;
}

::placeholder {
  padding-left: 3%;
}

#sub {
  color: white;
  font-weight: 600;
  padding-top: 20%;
  border-color: rgb(186, 246, 184);
  border-radius: 10px;
  background-color: rgb(56, 179, 128);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 300px;
  box-shadow: 2px 2px 2px hwb(0 0% 100% / 0.415);
}

/* background-color: rgb(153, 205, 169); */

.data-adress {
  margin: 0% auto;
  position: relative;

}
.main-container {
  width: 100%;
  height: 400px;
  background-color: rgb(153, 205, 169);
  border: 20px solid rgb(0, 0, 0);
  border: hidden;
  position: relative;
  border: 10px solid blue;
}

.datalist {
  list-style: none;
  font-size: 40px;
  font-style: italic;
  padding: 45px;
  width: 500px;
  position: relative;
  left: 50px;
  /* display: inline-block; */
  border: 10px solid blue;
}

.map {
  position: relative;
  /* left: 70%; */
  height: 100%;
    /* right: 50%; */
  /* float: right; */
  /* display: inline-block; */
  /* float: right; */
  /* vertical-align: top; */
  top: 0%;
}

.productos {
  background-color: rgb(223, 204, 145);
}

.test{
  position: relative;
  left: 25%;
}
